/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include "mouse.dtsi"
#include "combo.dtsi"
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        tap_shift: tap_shift {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_SHIFT";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_SHIFT>,
                <&caps_word>;
        };
        num_word: behavior_num_word {
            compatible = "zmk,behavior-caps-word";
            label = "NUM_WORD";
            #binding-cells = <0>;
            layers = <2>;
            continue-list = <BACKSPACE DELETE DOT COMMA ASTERISK LEFT_PAENTHESIS RIGHT_PARENTHESIS PLUS MINUS SLASH PERCENT UNDERSCORE COLON LEFT RIGHT>;
            ignore-numbers;
        };
        num_activate: num_activate {
            compatible = "zmk,behavior-hold-tap";
            label = "NUM_ACTIVATE";
            bindings =
                <&mo>,
                <&num_word>;

            #binding-cells = <2>;
            tapping-term-ms = <200>;
            global-quick-tap;
        };
    };

    combos {
        compatible = "zmk,combos";
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
&kp COMMA  &kp V    &kp L    &kp C      &kp W       &kp K              &kp H    &kp G  &kp F  &kp DOT
    &kp U  &kp I    &kp A    &kp E      &kp O       &kp S              &kp N    &kp R  &kp T    &kp D
    &kp X  &kp P    &kp M    &kp Y    &kp DOT   &kp SLASH              &kp Z    &kp B  &kp J    &kp Q
                  &kp DOT  &kp DOT  &kp SPACE  &tap_shift  &num_activate 1 0  &kp DOT
            >;

            sensor-bindings =
                <&inc_dec_mwh SCROLL_DOWN SCROLL_UP>,
                <&inc_dec_kp LS(LC(R)) U>;
        };

        numbers {
            bindings = <
&kp COMMA  &kp N7  &kp N8  &kp N9  &trans     &trans                &trans                 &trans       &trans  &kp DOT
   &trans  &kp N4  &kp N5  &kp N6  &trans  &kp COLON  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp PERCENT   &trans
   &kp N0  &kp N1  &kp N2  &kp N3  &trans   &kp FSLH             &kp ASTRK              &kp EQUAL    &kp MINUS   &trans
                   &trans  &trans  &trans     &trans                &trans                 &trans
            >;
        };
    };
};
