/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

#include "mouse.dtsi"
#include "combo.dtsi"

/ {
    behaviors {
        tap_shift: tap_shift {
            compatible = "zmk,behavior-tap-dance";
            label = "TAP_SHIFT";
            #binding-cells = <0>;
            bindings =
                <&kp LEFT_SHIFT>,
                <&caps_word>;
        };

        num_word: behavior_num_word {
            compatible = "zmk,behavior-caps-word";
            label = "NUM_WORD";
            #binding-cells = <0>;
            layers = <2>;
            continue-list = <BACKSPACE DELETE DOT COMMA ASTERISK LEFT_PAENTHESIS RIGHT_PARENTHESIS PLUS MINUS SLASH PERCENT UNDERSCORE COLON LEFT RIGHT>;
            ignore-numbers;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        default {
            bindings = <
  &kp X    &kp V    &kp L    &kp C      &kp W       &kp K    &kp H    &kp G    &kp F    &kp Q
  &kp U    &kp I    &kp A    &kp E      &kp O       &kp S    &kp N    &kp R    &kp T    &kp D
&kp DOT  &kp DOT    &kp P    &kp M      &kp Y       &kp Z    &kp B    &kp J  &kp DOT  &kp DOT
                  &kp DOT  &kp DOT  &kp SPACE  &tap_shift  &kp DOT  &kp DOT
            >;

            sensor-bindings =
                <&inc_dec_mwh SCROLL_DOWN SCROLL_UP>,
                <&inc_dec_kp LS(LC(R)) U>;
        };

        layer_1 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans  &trans
                &trans  &trans  &trans  &trans  &trans  &trans
            >;
        };
    };
};
